
<html>
	<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1XTFM65VS2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1XTFM65VS2');
</script>
	<meta charset=“UTF-8”>

		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,bold,900,600">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		  <!-- Custom styles for this template -->
 		 <link href="css/custom.css" rel="stylesheet">

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
 	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		<title>wavePB</title>
	</head>
	<body>
		<div class = "global_container">
			<div class = "section"  >

				<h1>WavePB: Speaker Selection via Inaudible WavePiggyback</h1>
				<div class ="boxed">
					<p> Wave PiggyBack is a speaker selection system prototype that records the sounds selectively for multiple smartphone microphones.
					</p>

				</div>


				<!-- <h1> Team </h1>
					<div class ="boxed" style="margin-top=3em;">
						<p>
							SurfingAttack was discovered by the following team of academic researchers:
						</p>
						<ul>
					<li>
						<strong><a href="http://cse.msu.edu/~qyan/">Qiben Yan</a></strong> at <a href="http://seit.egr.msu.edu/">SEIT Lab</a>, <a href="https://www.cse.msu.edu/">Michigan State University</a></li>
							<li><a href=""><strong>Kehai Liu</strong></a> at <a href="http://english.cas.cn/">Chinese Academy of Sciences</a> </li>
				      <li><a href="https://engineering.unl.edu/mme/faculty/qin-zhou/"><strong>Qin Zhou</strong></a> at <a href="https://www.unl.edu/">University of Nebraska-Lincoin</a></li>
							<li><a href="https://hanqingguo.github.io"><strong>Hanqing Guo</strong></a> at <a href="http://seit.egr.msu.edu/">SEIT Lab</a>, <a href="https://www.cse.msu.edu/">Michigan State University</a></li>
							<li><a href="https://engineering.wustl.edu/Profiles/Pages/Ning-Zhang.aspx"><strong>Ning Zhang</strong></a> at <a href="https://cse.wustl.edu/Pages/default.aspx">Washington University in St. Louis</a></li>

						</ul> -->
<!-- <p class="text-center"><strong>Contact us at <a href="mailto:surfingattack@gmail.com">surfingattack@gmail.com</a></strong></p>

 <div class="text-center mt-auto" style="width:100%;margin-top: 1.5em; margin-bottom: 1.5em; display:flex;justify-content:space-around;align-items:center; flex-wrap: wrap;">
      <div>
      <a href="https://www.cse.msu.edu/">
        <img width = "160px" src="logos/MSU-logo.png" alt="Michigan State University logo" class="img-fluid" />
				<div style = "height:10px"></div>
      </a>
      </div>
			<a href="https://www.unl.edu/">
        <img width="160px" src="logos/UNL_Logo.png" alt="UNL logo" class="img-fluid" />
			</a>
      <a href="https://cse.wustl.edu/Pages/default.aspx">
        <img width="160px" src="logos/WUSTL.png" alt="WUSTL logo" class="img-fluid" />
			</a>
 </div>
</div> -->


				<h1>Features</h1>

					<ul>
						<li class="question">
							<!--<li>
								<b> What's the difference between <a href="papers/p103-zhangAemb.pdf">dolphinAttack</a> and <a href="https://lightcommands.com/">lightcommands?</a></b>

									<li class="answer">    <b><font color="red">Long distance attack</font> with NLOS situation compares to dolphinAttack</b> It achieves longer than 30ft distance with certain materials</li>
									<li class="answer">    <b>None Line of sight attack.</b> It uses multiple solid media to attack victims.</li>
									<li class="answer">    <b>Attack multiple phones simultanously.</b> It can attack more than one phones in a same time.</li>

							</li>
							<br>
							<br>
							<br>-->
							<b> How does WavePB work?</b>

								<p class="answer">
									WavePB uses deep learning model to seperate speaker's voice and generate the shadow wave indicating the interest speaker. e.g. Focus the specific speaker or hide the sensitive speaker.
									Then transmit the shadow wave to superpose this acoustic wave on every deployed microphones.
												</p>
					<b>What devices can be superposed via Inaudible Wave Piggyback?</b>
					<p class="answer">
									We validated successful WavePB on the following devices, and we believe more devices could be vulnerable.
												</p>

					<table>
  				<tr>
    			  <th>Manufacturer</th>
    			  <th>Model</th>
						<th>Best fc(kHz)</th>
						<th>Distance (m)</th>
  				</tr>

  				<tr>
    				<td>Apple</td>
    				<td>iPhone 7Plue</td>
						<td>27.8</td>
						<td>0.49</td>
  				</tr>

					<tr>
    				<td>Apple</td>
    				<td>iPhone SE2</td>
    				<td>25.2</td>
						<td>1.77</td>
  				</tr>

					<tr>
    				<td>Apple</td>
    				<td>iPad Air 3</td>
    				<td>28.0</td>
						<td>3.72</td>
  				</tr>

					<tr>
    				<td>Xiaomi</td>
    				<td>Mi 8 Lite</td>
    				<td>27.4</td>
						<td>1.65</td>
  				</tr>

					<tr>
    				<td>Xiaomi</td>
    				<td>POCOPHONE</td>
    				<td>26.3</td>
						<td>0.7</td>
  				</tr>

					<tr>
    				<td>Samsung</td>
    				<td>Galaxy S9</td>
    				<td>27.2</td>
						<td>3.64</td>
  				</tr>
</table><br>


							<b> What can the wavePB do in the Hide scenario?</b>
								<li class="answer">  &#9873  Focus voice from a talker in a noisy environment</li>
								<li class="answer">  &#9873  Focus users' voice input at a online meeting</li>
								<li class="answer">  &#9873  Focus one speaker's voice while the others talking </li>
								<li class="answer">  &#9873 And much more... </li>

						</li><br>


						<b> What can the wavePB do in the Hide scenario?</b>
								<li class="answer">  &#9733 Hide your voice in the public </li>
								<li class="answer">  &#9733 Prevent your voice be recorded by eavesdropper </li>
								<li class="answer">  &#9733 Removing your voice passively while keep others recording normally </li>
								<li class="answer">  &#9733 And much more... </li>
						</li>
						<p></p>

						<p></p>


					</ul>
				<h2>WavePB demonstration</h2>

				<h3> WavePB work on a Focus scenario
					<br>
					<br>
					<div style="margin-top=5em;">
						Joint &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp   Focused
						<br>
						<audio controls>
							  <source src="./assets/joint.wav" type="audio/wav">
							  Your browser does not support the <code>audio</code> element.
							</audio>
							<audio controls>
								  <source src="./assets/joint-focus.wav" type="audio/wav">
								  Your browser does not support the <code>audio</code> element.
								</audio>
						<br>
						Conversation &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp Focused
						<br>
						<audio controls>
							  <source src="./assets/conversation.wav" type="audio/wav">
							  Your browser does not support the <code>audio</code> element.
							</audio>
							<audio controls>
								  <source src="./assets/conversation-focus.wav" type="audio/wav">
								  Your browser does not support the <code>audio</code> element.
								</audio>
						<br>
						Babble &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp Focused
						<br>
						<audio controls>
							  <source src="./assets/babble.wav" type="audio/wav">
							  Your browser does not support the <code>audio</code> element.
							</audio>
						Focused
							<audio controls>
								  <source src="./assets/babble-focus.wav" type="audio/wav">
								  Your browser does not support the <code>audio</code> element.
								</audio>
							</div>
					<br>
					<br>


					<h3> WavePB work on a Hide scenario
						<br>
						<br>
						<div style="margin-top=5em;">
							Joint
							<audio controls>
								  <source src="./assets/joint.wav" type="audio/wav">
								  Your browser does not support the <code>audio</code> element.
								</audio>
							Hidden
								<audio controls>
									  <source src="./assets/joint-hide.wav" type="audio/wav">
									  Your browser does not support the <code>audio</code> element.
									</audio>
							<br>
							Conversation
							<audio controls>
								  <source src="./assets/conversation.wav" type="audio/wav">
								  Your browser does not support the <code>audio</code> element.
								</audio>
							Hidden
								<audio controls>
									  <source src="./assets/conversation-hide-receiver.wav" type="audio/wav">
									  Your browser does not support the <code>audio</code> element.
									</audio>
							<br>
							Babble
							<audio controls>
								  <source src="./assets/babble.wav" type="audio/wav">
								  Your browser does not support the <code>audio</code> element.
								</audio>
							Hidden
								<audio controls>
									  <source src="./assets/babble-hide.wav" type="audio/wav">
									  Your browser does not support the <code>audio</code> element.
									</audio>
								</div>

	</body>
</html>
